
<partial name="_Notification" />
<div class="row mb-3">

    <h1>Company List</h1>

    <div class="">
        <a asp-controller="Company" class="btn btn-sm btn-success px-4" asp-action="Upsert">Create New Company</a>
    </div>
</div>
<table class="table table-bordered table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
                  <th>
                    Postal Code
                </th>
                <th>
                    Phone Number
                </th>

                <th></th>
        </tr>
    </thead>

</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/js/company.js"></script>
