@model int




<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfull!</h1>
         Order Number is : @Model <br /><br />
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your payment was made successfully! <br />
        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderid="@Model" class="btn btn-primary">Back to order details</a>
    </div>
</div>