
<partial name="_Notification" />
<div class="row mb-3">

    <h1>Product List</h1>

    <div class="">
        <a asp-controller="Product" class="btn btn-sm btn-success px-4" asp-action="Upsert">Create New Product</a>
    </div>
</div>
<table class="table table-bordered table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                ISBM
            </th>
            <th>
                Price
            </th>
                  <th>
                    Author
                </th>
                <th>
                    Category
                </th>

                <th></th>
        </tr>
    </thead>

</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/js/product.js"></script>
